<h1>Routes disponibles :</h1>
<ul>
    <li>
        <a href="{{ path('planemodel_index') }}">Voir les avions</a>
    </li>
    <li>
        <a href="{{ path('reservation_index') }}">Voir les reservations</a>
    </li>
    <li>
        <a href="{{ path('flight_index') }}">Voir les vols</a>
    </li>
    <li>
        <a href="{{ path('terrain_index') }}">Voir les terrains</a>
    </li>
</ul>